/**
    <helper> colors
*/
.red { color: red; }
.green { color: green; }
.blue { color: blue; }

/**
    <helper> sizes
*/
.big { font-size: big; }
.normal { font-size: normal; }
.small { font-size: small; }